[Unit]
Description=Mastodon Microblogging service
Wants=redis-server.service
After=redis-server.service
Requires={{service}}-puma.service {{service}}-sidekiq.service {{service}}-streaming.service

[Install]
WantedBy=multi-user.target
