[Unit]
Description=mastodon-streaming
After=network.target
PartOf={{service}}.target

[Service]
Type=simple
User={{service}}
Group={{service}}
UMask=0027
WorkingDirectory=/var/www/{{service}}/www/
Environment="NODE_ENV=production"
Environment="PORT=4000"
Environment="STREAMING_CLUSTER_NUM=1"
ExecStart=/bin/bash -lc "node ./streaming"
TimeoutSec=15
Restart=always
#StandardOutput=append:/var/www/{{service}}/www/log/streaming.log
#StandardError=append:/var/www/{{service}}/www/log/streaming.log
SyslogIdentifier=%p

[Install]
WantedBy={{service}}.target
