[Unit]
Description=mastodon-sidekiq
After=network.target
PartOf={{service}}.target

[Service]
Type=simple
User={{service}}
Group={{service}}
UMask=0027
WorkingDirectory=/var/www/{{service}}/www/
Environment="RAILS_ENV=production"
Environment="DB_POOL=25"
Environment="MALLOC_ARENA_MAX=2"
#Environment="RAILS_LOG_LEVEL=warn"
ExecStart=/bin/bash -lc "bin/bundle exec sidekiq -c 25"
TimeoutSec=15
Restart=always
#StandardOutput=append:/var/www/{{service}}/www/log/sidekiq.log
#StandardError=append:/var/www/{{service}}/www/log/sidekiq.log
SyslogIdentifier=%p

[Install]
WantedBy={{service}}.target
