<?php
/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Authors of STUdS (initial project): Guilhem BORGHESI (borghesi@unistra.fr) and Raphaël DROZ
 * Authors of Framadate/OpenSondage: Framasoft (https://github.com/framasoft)
 *
 * =============================
 *
 * Ce logiciel est régi par la licence CeCILL-B. Si une copie de cette licence
 * ne se trouve pas avec ce fichier vous pouvez l'obtenir sur
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.txt
 *
 * Auteurs de STUdS (projet initial) : Guilhem BORGHESI (borghesi@unistra.fr) et Raphaël DROZ
 * Auteurs de Framadate/OpenSondage : Framasoft (https://github.com/framasoft)
 */

// Fully qualified domain name of your webserver.
// If this is unset or empty, the servername is determined automatically.
// You *have to set this* if you are running Framadate behind a reverse proxy.
// const APP_URL = '<www.mydomain.fr>';

// Application name
const NOMAPPLICATION = '{{app_nom_application}}';

// Database administrator email
const ADRESSEMAILADMIN = '{{app_adresse_mail_admin}}';

// Email for automatic responses (you should set it to "no-reply")
const ADRESSEMAILREPONSEAUTO = '{{app_adresse_reponse_auto}}';

// Database user
const DB_USER= '{{app_db_user}}';

// Database password
const DB_PASSWORD = '{{app_db_password}}';

// Database server name, leave empty to use a socket
const DB_CONNECTION_STRING = '{{app_db_connection_string}}';

// Name of the table that stores migration script already executed
const MIGRATION_TABLE = '{{app_migration_table |default('framadate_migration')}}';

// Table name prefix
const TABLENAME_PREFIX = '{{app_tablename_prefix |default('')}}';

// Default Language
const DEFAULT_LANGUAGE = '{{app_default_language}}';

// List of supported languages, fake constant as arrays can be used as constants only in PHP >=5.6
$ALLOWED_LANGUAGES = [
    'fr' => 'Français',
    'en' => 'English',
    'oc' => 'Occitan',
    'es' => 'Español',
    'de' => 'Deutsch',
    'nl' => 'Dutch',
    'it' => 'Italiano',
    'br' => 'Brezhoneg',
];

// Path to image file with the title
const IMAGE_TITRE = '{{app_image_titre |default('images/logo-framadate.png')}}';

// Relative path to favicon
const FAVICON = 'favicon.ico';

// Clean URLs, boolean
const URL_PROPRE = {{app_url_propre}};

// Use REMOTE_USER data provided by web server
const USE_REMOTE_USER = {{app_use_remote_user |default('true')}};

// Path to the log file
const LOG_FILE = '{{app_log_file |default('admin/stdout.log')}}';

// Days (after expiration date) before purging a poll
const PURGE_DELAY = {{app_purge_delay |default('60')}};

// Max slots per poll
const MAX_SLOTS_PER_POLL = {{app_max_slots_per_poll |default('366')}};

// Number of seconds before we allow to resend an "Remember Edit Link" email.
const TIME_EDIT_LINK_EMAIL = {{app_time_edit_link_email |default('60')}};

// Config
$config = [
    /* general config */
    'use_smtp' => {{app_config_use_smtp |default('true')}},                     // use email for polls creation/modification/responses notification
    'smtp_options' => [
        'host' => 'localhost',              // SMTP server (you could add many servers (main and backup for example) : use ";" like separator
        'auth' => false,                    // Enable SMTP authentication
        'username' => '',                   // SMTP username
        'password' => '',                   // SMTP password
        'secure' => '',                     // Enable encryption (false, tls or ssl)
        'port' => 25,                       // TCP port to connect to
    ],
    'tracking_code' => '',                  // add HTML code to every page, useful for tools like Piwik
    /* home */
    'show_what_is_that' => {{app_config_show_what_is_that |default('true')}},            // display "how to use" section
    'show_the_software' => {{app_config_show_the_software |default('true')}},            // display technical information about the software
    'show_cultivate_your_garden' => {{app_config_show_cultivate_your_garden |default('true')}},   // display "development and administration" information
    /* create_classic_poll.php / create_date_poll.php */
    'default_poll_duration' => {{app_config_default_poll_duration |default('180')}},         // default values for the new poll duration (number of days).
    /* create_classic_poll.php */
    'user_can_add_img_or_link' => {{app_config_user_can_add_img_or_link |default('true')}},     // user can add link or URL when creating his poll.
    'markdown_editor_by_default' => {{app_config_markdown_editor_by_default |default('true')}},    // The markdown editor for the description is enabled by default
    'provide_fork_awesome' => true,         // Whether the build-in fork-awesome should be provided
];
