[Unit]
Description=Diaspora social network
Wants=redis-server.service
After=redis-server.service
Requires={{service}}-unicorn.service {{service}}-sidekiq.service

[Install]
WantedBy=multi-user.target
