[Unit]
Description=Diaspora social network (unicorn)
PartOf={{service}}.target
StopWhenUnneeded=true

[Service]
User={{service}}
Group={{service}}
UMask=0027
Environment=RAILS_ENV=production
WorkingDirectory=/var/www/{{service}}/www/
PIDFile=/var/www/{{service}}/www/tmp/pids/web.pid
ExecStart=/bin/bash -lc "bin/bundle exec unicorn -c config/unicorn.rb -E production"
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always

[Install]
WantedBy={{service}}.target
